{{!-- "form action" is where the form will route to --}}
<form>
  <label for="searchText" id="searchText"> Enter search here </label><br>
  <input type="text" id="searchText" name="searchText"><br>
  <button>Search</button>
</form>
<div id="textHere">
    {{!-- {{{nameFilter}}} --}}
    <ul>
      {{#each nameFilter as |listItem|}}
      <li>
        {{listItem}}
      </li>
      {{/each}}
    </ul>
</div>
