{{!-- "form action" is where the form will route to --}}
<form id="form">
  <label for="searchText" id="searchText"> ENTER SEARCH HERE </label><br>
  <input type="text" id="searchText" name="searchText"><br>
  <button id="button">Search</button>
</form>
<div id="tableHere">
    {{!-- {{{nameFilter}}} --}}
    <ul>
      {{#each nameFilter as |listItem|}}
      <li>
        {{listItem}}
      </li>
      {{/each}}
    </ul>
</div>
