<h1>File Upload in Node.js App</h1>
<form action="/arrayUpload" enctype="multipart/form-data" method="POST">
    <label for="file">Single Text File:</label>
    <input type="file" name="file"/> <br /><br />
    <input type="submit" value="Upload" />
</form>
<div id="tableHere">
    {{!-- {{{nameFilter}}} --}}
    <ul>
      {{#each uploadedFileData as |name|}}
      <li>
        {{name}}
      </li>
      {{/each}}
    </ul>
</div>