{{!-- "form action" is where the form will route to --}}
<form id="form">
  <label for="searchText" id="searchText"> ENTER SEARCH HERE </label><br>
  <input type="text" id="searchText" name="searchText"><br>
  <button id="button">Add</button>
</form>
<div id="tableHere">
    {{!-- {{{nameFilter}}} --}}
    <ul>
      {{#each readFileProperArray as |name|}}
      <li>
        {{name}}
      </li>
      {{/each}}
    </ul>
</div>
