<h1>JSON Upload in Node.js App</h1>
<form action="/jsonUpload" enctype="multipart/form-data" method="POST">
    <label for="file">JSON File:</label>
    <input type="file" name="file" accept=".json"/> <br /><br />
    <input type="submit" value="Upload" />
</form>
<br>
<div id="tableHere">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
      {{#each jsonNames as |values|}}
      <tr>
        <td>{{values.name}}</td> 
        <td>{{values.email}}s</td>
        <td>{{values.password}}</td>
      </tr>
      {{/each}}
    </table>
</div>